<!DOCTYPE html>
<html>



<head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- 	<div class="video-background"> -->
<!-- 		<div class="video-foreground"> -->
<!-- 			<iframe src="https://www.youtube.com/embed/iq_d8VSM0nw?controls=0&showinfo=0&rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe> -->
<!-- 		</div> -->
<!-- 	</div> -->
</head>

<body>
	<div id="big"> 
	Chatroom  
	</div>
	
	<title>Chatroom</title>
	<div id="roomButton">
	<form id="roomForm" action="/roomCreated/" method="post">
	<input type="text" id="roomname" name="roomName"placeholder="Enter room Name"></input>
	</form>
	
	
	<div id="butt">
	<a>New Room<a>
	</div>
	</div>
	</br>
			<center>		
					<div id = "roomList">
					
					</div>
<!-- 					 -->
<!-- 					<div id = "room"> -->
<!-- 					<div id = "messagesB"> -->
<!-- 					<p> -->
<!-- 					{{roomB}} -->
<!-- 					</p> -->
<!-- 					</div> -->
<!-- 					</div> -->
<!-- 					 -->
<!-- 					<div id = "room"> -->
<!-- 					<div id = "messagesC"> -->
<!-- 					 -->
<!-- 					<p> -->
<!-- 					{{roomC}} -->
<!-- 					</p> -->
<!-- 					</div> -->
<!-- 					</div> -->
<!-- 					 -->
<!-- 					<div id = "room"> -->
<!-- 					<div id = "messagesD"> -->
<!-- 					 -->
<!-- 					<p> -->
<!-- 					{{roomD}} -->
<!-- 					</p> -->
<!-- 					</div>	 -->
<!-- 					</div>				 -->
<!-- 					 -->
					
				
					
	
	</center>

<script type="text/javascript" src="main.js"></script>
</body>

</html>