.video-background iframe {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
	* { margin: 0; padding: 0; }
		
		body{max-width: 100%;}
		html { 
background: url(bg.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			max-width: 100%;
		}
#big {
padding-left: 50px;
/*padding-right: 50%;*/

max-width: 100%;
/*position:absolute;*/
opacity:0.70;
background: black;
color: white;
font: 50px/2 Helvetica, Serif;

/*text-indent: 85px;*/
-moz-box-shadow: 0 0 30px black;
		     -webkit-box-shadow: 0 0 20px black;
		      box-shadow:40px ; 
		}
		main {
margin-top: 200%;
}


font-size: 0.9em;
display: block;
margin: 0 0.5em;
color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    top: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

p { opacity: 1;
 color: white;
  font: 15px/2 Helvetica, Serif;
      }

 .floating-menu-title {
 		font: 100px Helvetica, Serif;

 	    color: white;
 	    top: 0px;
		left: 0px;
		bottom: -100;

 }

 
#roomButton { 
	width: 80px;
	height: 20px;
  display: inline-block;
	font: 15px Helvetica, Serif;
	text-align: right;
	padding: 16px 19px;
	color: white;
	text-decoration: none;
	margin: 50px;
   background: black;
    -moz-box-shadow: 0 0 20px black;
     -webkit-box-shadow: 0 0 20px black;
      box-shadow:20px ; 
	opacity: 0.8;
	animation-duration: 1s;
		
      }
	a{
		color: white;
		text-decoration: none;

	}
	input{
		width: 150px;
		padding: 2px 10px;
		margin: -1px 8px;
/*		border: 0px solid gray;*/
		box-sizing: border-box;
		display: none;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		outline: none;
		border: 3px solid gray;
		position:absolute;
		
	}
	input:focus {
		
		border: 3px solid blue;
	}


	
	
	@keyframes buttonAnimation {
		from {width: 80px;
			text-align: center;
			}
		to {width: 250px;
			text-align: right;
		}
	}
		#room { 
			width: 300px;
			height:212px;
		  display: inline-block;
		padding:20px;
		margin: 50px;
		   background: black;
		    -moz-box-shadow: 0 0 20px black;
		     -webkit-box-shadow: 0 0 20px black;
		      box-shadow:20px ; opacity: 0.8;
		
		      }
		#room:hover {
			
		width: 300px;
			height:212px;
		  display: inline-block;
		margin: 50px;
		   background: #4d4d4d;
		    -moz-box-shadow: 0 0 20px black;
		     -webkit-box-shadow: 0 0 20px black;

			      box-shadow:20px ; opacity: 0.89;
		}


#chat{
			margin: 200px auto;
			  padding: 20px;
			   background: black;
			    -moz-box-shadow: 0 0 20px black;
			     -webkit-box-shadow: 0 0 20px black;
			      box-shadow:20px ; opacity: 0.8;
		}
	
		
	
